certifi==2020.6.20
chardet==3.0.4
idna==2.10
lxml==4.5.0
numpy==1.19.1
onnx==1.7.0
pandas==1.1.1
protobuf==3.13.0
Pyro4==4.80
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-futures==1.0.0
selenium==3.141.0
simplejson==3.17.2
six==1.15.0
typing-extensions==3.7.4.2
urllib3==1.25.10
yahooquery==2.2.7
